﻿
@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-controller="allnotification">
    <div class="col-lg-12">
        <div class="card" style="margin:15px">
            <div class="card-header d-flex align-items-center">
                <h2 class="h5 display display">Notifications:- Send to all Students</h2>
            </div>

            <div class="card-body">
                <p>Fill the form to send Notification to all students currently registered in the system.</p>
                <form>
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" placeholder="Title" class="form-control" ng-model="notification_title">
                    </div>
                    <div class="form-group">
                        <label>Notification Body</label>
                        <textarea rows="4" class="form-control" ng-model="notification_body"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send" class="btn btn-primary" ng-click="sendallnotification()">
                    </div>
                </form>

            </div>


            </div>

        </div>
</div>
