﻿
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="page login-page" ng-controller="logincontroller">
    <div class="container">
        
        <div class="form-outer text-center d-flex align-items-center">
            <div class="form-inner">
                <div class="alert alert-danger" role="alert" ng-show="showError">
                    Invalid Username or Password.
                </div>

                <div class="logo text-uppercase"><span>Class</span><strong class="text-primary">ociate</strong></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                <form>
                    <div class="form-group">
                        <label for="login-username" class="label-custom">User Name</label>
                        <input id="login-username" type="text" ng-model="username">
                    </div>
                    <div class="form-group">
                        <label for="login-password" class="label-custom">Password</label>
                        <input id="login-password" type="password" ng-model="password">
                    </div>
                    <button class="btn btn-primary" ng-click="login()" ng-disabled="loading">
                        Login<span style="margin-left:5px;" ng-show="loading"><md-progress-circular class="md-hue-2" md-diameter="20px"></md-progress-circular></span>
                    </button>
                    @*<a id="login" href="index.html" class="btn btn-primary">Login</a>*@
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form><a href="#" class="forgot-pass">Forgot Password?</a>
            </div>
            <div class="copyrights text-center">
                <p></p>

            </div>
        </div>
    </div>
</div>

