﻿
@{
    ViewData["Title"] = "Timetable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card" style="margin:15px" ng-controller="timetablecontroller">
    <div class="card-header d-flex align-items-center">
        <h2 class="h5 display display"></h2>
    </div>

    <div class="card-body">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">View TimeTable</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Upload TimeTable</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent" style="margin:10px">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="form-group row" style="margin:10px">
                    <label class="col-sm-2 form-control-label">Select Class</label>
                    <div class="col-sm-10 select">
                        <select name="account" class="form-control" ng-options="s for s in standards" ng-model="selectedStandard">
                            
                        </select>
                    </div>
                </div>

                <div class="form-group row" style="margin:10px">
                    <label class="col-sm-2 form-control-label">Select Division</label>
                    <div class="col-sm-10 select">
                        <select name="account" class="form-control" ng-options="d for d in divisions" ng-model="selectedDivision">
                            
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Fetch" class="btn btn-primary" ng-click="getTimeTable()">
                </div>

                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="k in fkeys">
                                    {{k}}
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in fetch_timetable">
                                <td ng-repeat="(key,value) in t">
                                    {{value}}
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="form-group row" style="margin:10px">
                        <label class="col-sm-2 form-control-label">Select Class</label>
                        <div class="col-sm-10 select">
                            <select name="account" class="form-control" ng-options="s for s in standards" ng-model="selectedStandardUpload"></select>
                        </div>
                    </div>

                    <div class="form-group row" style="margin:10px">
                        <label class="col-sm-2 form-control-label">Select Division</label>
                        <div class="col-sm-10 select">
                            <select name="account" class="form-control" ng-options="d for d in divisions" ng-model="selectedDivisionUpload"></select>
                        </div>
                    </div>

                    <div class="form-group row" style="margin:10px">
                        <label class="col-sm-2 form-control-label">Select File</label>
                        <input type="file" ngf-select="SelectFile($file)" />


                    </div>

                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-primary" ng-click="Upload()">
                    </div>

                </div>

                <div class="col-lg-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="k in keys">
                                    {{k}}
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in timetable">
                                <td ng-repeat="(key,value) in t">
                                    {{value}}
                                </td>

                            </tr>

                        </tbody>
                    </table>

                </div>


            </div>
        </div>
    </div>

</div>




