﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Classociate </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom icon font-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/fontastic.css">
    <!-- Google fonts - Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <!-- jQuery Circle-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/grasp_mobile_progress_circle-1.0.0.min.css">
    <!-- Custom Scrollbar-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/css/custom.css">

    <link href="~/css/easy-autocomplete.themes.min.css" rel="stylesheet" />

    <link href="~/css/easy-autocomplete.min.css" rel="stylesheet" />


    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">


    <!-- Favicon-->
    <link rel="shortcut icon" href="favicon.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

</head>
<body ng-app="classociate">
    <!-- Side Navbar -->
    <nav class="side-navbar">
        <div class="side-navbar-wrapper">
            <div class="sidenav-header d-flex align-items-center justify-content-center">
                <div class="sidenav-header-inner text-center">
                    <img src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-1.jpg" alt="person" class="img-fluid rounded-circle">
                    <h2 class="h5 text-uppercase">@ViewBag.school_name</h2><span class="text-uppercase"></span>
                </div>
                <div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center"> <strong>C</strong><strong class="text-primary">A</strong></a></div>
            </div>
            <div class="main-menu">
                <ul id="side-main-menu" class="side-menu list-unstyled">
                    <li class=""><a href="@Url.Action("Index","Home")"> <i class="icon-home"></i><span>Home</span></a></li>
                    <li> <a href="@Url.Action("Index","TimeTable")"> <i class="icon-grid"> </i><span>Time Table  </span></a></li>
                    <li> <a href="forms.html"><i class="icon-form"></i><span>Student Details</span></a></li>
                    @*<li> <a href="forms.html"><i class="icon-form"></i><span>Forms</span></a></li>
                        <li> <a href="charts.html"><i class="icon-presentation"></i><span>Charts</span></a></li>
                        <li> <a href="tables.html"> <i class="icon-grid"> </i><span>Tables  </span></a></li>
                        <li> <a href="login.html"> <i class="icon-interface-windows"></i><span>Login page</span></a></li>*@
                    @*<li>
                            <a href="#">
                                <i class="icon-mail"></i><span>Demo</span>
                                <div class="badge badge-warning">6 New</div>
                            </a>
                        </li>*@


                    <li>
                        <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
                            <i class="icon-interface-windows"></i><span>Notifications</span>
                            <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <ul id="pages-nav-list" class="collapse list-unstyled">
                            <li> <a href="@Url.Action("Index","Notifications")">All Students</a></li>
                            <li> <a href="#">Personal Notification</a></li>
                            <li> <a href="#">Class Notification</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            @*<div class="admin-menu">
                    <ul id="side-admin-menu" class="side-menu list-unstyled">
                        <li>
                            <a href="#pages-nav-list" data-toggle="collapse" aria-expanded="false">
                                <i class="icon-interface-windows"></i><span>Dropdown</span>
                                <div class="arrow pull-right"><i class="fa fa-angle-down"></i></div>
                            </a>
                            <ul id="pages-nav-list" class="collapse list-unstyled">
                                <li> <a href="#">Page 1</a></li>
                                <li> <a href="#">Page 2</a></li>
                                <li> <a href="#">Page 3</a></li>
                                <li> <a href="#">Page 4</a></li>
                            </ul>
                        </li>
                        <li> <a href="#"> <i class="icon-screen"> </i><span>Demo</span></a></li>
                        <li>
                            <a href="#">
                                <i class="icon-flask"> </i><span>Demo</span>
                                <div class="badge badge-info">Special</div>
                            </a>
                        </li>
                        <li> <a href=""> <i class="icon-flask"> </i><span>Demo</span></a></li>
                        <li> <a href=""> <i class="icon-picture"> </i><span>Demo</span></a></li>
                    </ul>
                </div>*@
        </div>
    </nav>
    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-holder d-flex align-items-center justify-content-between">
                        <div class="navbar-header">
                            <a id="toggle-btn" href="#" class="menu-btn"><i class="icon-bars"> </i></a><a href="index.html" class="navbar-brand">
                                <div class="logo text-uppercase navbar-brand"><span>Class </span><strong class="text-primary">ociate</strong></div>
                            </a>
                        </div>
                        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                            @*<li class="nav-item dropdown">
                                    <a id="notifications" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-bell"></i><span class="badge badge-warning">12</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-envelope"></i>You have 6 new messages </div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-upload"></i>Server Rebooted</div>
                                                    <div class="notification-time"><small>4 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item">
                                                <div class="notification d-flex justify-content-between">
                                                    <div class="notification-content"><i class="fa fa-twitter"></i>You have 2 followers</div>
                                                    <div class="notification-time"><small>10 minutes ago</small></div>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-bell"></i>view all notifications                                            </strong></a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a id="messages" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link"><i class="fa fa-envelope"></i><span class="badge badge-info">10</span></a>
                                    <ul aria-labelledby="notifications" class="dropdown-menu">
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Jason Doe</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Frank Williams</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                                <div class="msg-profile"> <img src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h3 class="h5">Ashley Wood</h3><span>sent you a direct message</span><small>3 days ago at 7:58 pm - 10.06.2014</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong> <i class="fa fa-envelope"></i>Read all messages    </strong></a></li>
                                    </ul>
                                </li>*@
                            <li class="nav-item"><a href="login.html" class="nav-link logout">Logout<i class="fa fa-sign-out"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        @RenderBody()
        <footer class="main-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <p>Your company &copy; 2017-2019</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p></p>

                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/js/charts-home.js"></script>
    <script src="https://d19m59y37dris4.cloudfront.net/dashboard/1-1/js/front.js"></script>
    <script src="~/js/jquery.easy-autocomplete.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-all.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <script src="~/js/lodash.js"></script>
    <script src="~/js/angular/app.js"></script>
    <script src="~/js/angular/timetablecontroller.js"></script>
    <script src="~/js/angular/allnotification.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID.-->
    <!---->


</body>
</html>
